.arrow {
  color: gray;
  font-size: 20px;
  margin-left: 20px;
  width: 30px;
  cursor: pointer;
}
.arrow:hover {
  color: #fff;
  transition: 0.5s;
}
.arrow:focus {
  outline: none;
}
.input-type {
  width: 400px;
  height: 40px;
}
.input {
  width: 400px;
  height: 40px;
  border-radius: 25px;
}
